:root {
  --edge-color: #548f9e;
  --highlight-edge-color: #00bcd4;
  --selected-edge-color: red;

  --selected-cell-color: yellow;

  --incoming-edge-color: blue;
  --outgoing-edge-color: green;
  --recurse-edge-color: black;

  --node-color: lightgray;
  --node-content-color: black;
  --node-highlight-color: red;
}
