:root {
  --background-color: #f5fffa;

  --edge-color: #548f9e;
  --edge-hover-color: #00bcd4;
  --edge-incoming-color: #698b69;
  --edge-outgoing-color: #008acd;
  --edge-recursive-color: black;

  --cell-hover-color: #e0ffff;
  --cell-selected-color: color-mix(in srgb, var(--cell-hover-color), #bce);
  --cell-highlight-color: bisque;

  --node-color: #f4f5f1;
  --node-content-color: black;
  --node-highlight-color: red;

  /* symbols */

  --interface-color: #fff8dc;
  --module-color: #ffebcd;
  --constructor-color: #ffdab9;
  --function-color: #e4ffb5;
  --method-color: #deb887;

  --type-color: #f4f5f1;

  --icon-color: lightcoral;
}
