/* background */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body,
svg {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
#graph0 > polygon:first-of-type {
  fill: var(--background-color);
}

/* pointer */

.edge,
.cell.clickable {
  cursor: pointer;
}
.cell {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Cell */

/* background */
.cell :is(polygon, path):first-of-type {
  fill: var(--node-color);
}
/* border */
.cell :is(polygon, path):last-of-type {
  stroke-width: 1.13pt;
}

.cell.clickable:not(.selected):not(:has(.clickable:hover)):hover > :is(polygon, path):first-of-type {
  fill: var(--hover-cell-color);
}
.cell.selected > :is(polygon, path):first-of-type {
  fill: var(--selected-cell-color);
}
.cell.highlight path {
  stroke: var(--highlight-cell-color);
  fill: var(--highlight-cell-color);
}

/* Edge */

.impl path {
  stroke-dasharray: 8, 3;
}
:is(.edge, .edge:hover, .edge.selected) .impl polygon {
  stroke-width: 2;
  fill: none;
}

.edge path {
  stroke: var(--edge-color);
  stroke-width: 3;
}
.edge polygon {
  stroke: var(--edge-color);
  fill: var(--edge-color);
}

.edge:hover path:not(.hover-path) {
  stroke: var(--highlight-edge-color);
}
.edge:hover polygon {
  stroke: var(--highlight-edge-color);
  fill: var(--highlight-edge-color);
}

.edge path.hover-path {
  stroke: transparent;
  stroke-width: 15;
}

.edge.selected path:not(.hover-path) {
  stroke: var(--selected-edge-color);
}
.edge.selected polygon {
  stroke: var(--selected-edge-color);
  fill: var(--selected-edge-color);
}

.incoming path:not(.hover-path) {
  stroke: var(--incoming-edge-color);
}
.incoming polygon {
  stroke: var(--incoming-edge-color);
  fill: var(--incoming-edge-color);
}

.outgoing path:not(.hover-path) {
  stroke: var(--outgoing-edge-color);
}
.outgoing polygon {
  stroke: var(--outgoing-edge-color);
  fill: var(--outgoing-edge-color);
}

.incoming.outgoing path:not(.hover-path) {
  stroke: var(--recurse-edge-color);
}
.incoming.outgoing polygon {
  stroke: var(--recurse-edge-color);
  fill: var(--recurse-edge-color);
}

/* Node */

.node > path:first-child {
  fill: var(--node-color);
  stroke: black;
  stroke-width: 1.35pt;
}
.node polygon {
  stroke: var(--node-content-color);
}
.node text {
  fill: var(--node-content-color);
}

.node.selected > path:first-child {
  stroke: var(--node-highlight-color);
  stroke-width: 2.25pt;
}

.title text {
  font-weight: 500;
}

/* selection fade */
.fade {
  opacity: 0.05;
}

/* symbols */

.module :is(path, polygon):first-child {
  fill: var(--module-color);
}

.interface :is(path, polygon):first-child {
  fill: var(--interface-color);
}
.interface > :is(path, polygon):last-of-type {
  stroke: black;
  stroke-width: 1.13pt;
  stroke-dasharray: 5, 3;
}

.type:not(.highlight) :is(path, polygon):first-child {
  fill: var(--type-color);
}
.type text {
  transform: translateY(1px);
}
.type text:first-of-type {
  fill: lightcoral;
}

.constructor:not(.highlight):not(.selected) :is(path, polygon):first-child {
  fill: var(--constructor-color);
}
.function:not(.highlight):not(.selected) :is(path, polygon):first-child {
  fill: var(--function-color);
}
.method:not(.highlight):not(.selected) :is(path, polygon):first-child {
  fill: var(--method-color);
}
